body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #04091C;

  }
   h3, p, ul, a {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 3em;
    color: #FFB800;
    margin: 0;
    padding: 0;

  }

  h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 2em;
    color: #FFB800;
    margin: 0;
    padding: 0;

  }
  
  h3 {
    font-size: 1.8em;
    font-weight: 700;
    line-height: 2em;

  }
  
  p {
    font-size: 1.2em;
    line-height: 1.5em;
  }

  arrow {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #FFB800;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    color: #FFB800;
  }
  

  

  /* ancora */
  .anchor {
    margin-top: 0px;
  }
  


  
  /****** header *********/
#header {
    background: #140145;
    height: 72px;
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  
  nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  nav li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 24px 24px;
    transition: .5s;
  }
  
  nav li a:hover {
    color: #FFB800;
  }
  
  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

    #header li {
      float: left;
    }
    #header li a {
      padding: 24px 30px;
    }
    #header .menu {
      clear: none;
      float: right;
      max-height: none;
    }


  




  /* Hero */
  
  .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .hero-img {
    width: 100%;
    padding-top: 72px;
    height: auto;
  }
  
    .section-intro {
     padding-top: 8px;
      padding-bottom: 8px;
    }
    .topics-intro {
      width: 80%;
      
    }


    .prod-headline {
        color: #FFB800;
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 200;
        text-align: left;
      }
  
  .prod-title {
    color: #fff;
    font-size: 3rem;
    text-align: left;
    font-weight: 600;
  }


  .prod-subtitle {
    color: rgba(255, 255, 255, 0.493);
    font-size: 1.2rem;
    font-weight: 200;
    text-align: left;
    margin-left: auto;
  }
  

  /* mobile */
    .section-titles {
        width: 42%;
        padding-left: 32px;
        align-items: center;
        position: absolute;
         }

/* tablet */
@media (min-width:600px) {
    .section-titles {
        width: 42%;
        padding-left: 80px;
        align-items: center;
        position: absolute;
         }
      }

 /* desktop */
@media (min-width:900px) { 
    .section-titles {
      width: 42%;
      padding-left: 180px;
      align-items: center;
      position: absolute;
       }
    }

  


  
  /* topicos */

  .widget-headline {
    font-size: 1.5rem;
    line-height: 1.2em;
    color: #fff; 
  }
  

    /* mobile */
    #prevencao, #furtado {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding-left: 12px;
      padding-right: 12px;
    }

  /* tablet e desktop */
@media (min-width:600px) {
  #prevencao, #furtado {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 80px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
  
  .prod-img, .prod-img-reverse {
    width: 100%;
  }
  
    /* mobile */
        .prod-usp {
          padding: 16px;
        }

  /* tablet e desktop */
@media (min-width:600px) {
  .prod-usp {
    padding: 40px;
  }
}
  
  .prod-usp p {
    font-size: 1em;
    padding-top: 20px;
    line-height: 1.5em;
    color: #fff; 
  }

  .prod-usp ul, li {
    font-size: 1em;
    line-height: 1.5em;
    color: #fff;
  }

  .prod-usp ol {
    font-size: 1em;
    color: #fff;
    line-height: 1.5em;
    list-style-type: circle;  
  }

  .prod-usp a {
    font-size: 1em;
    color: #FFB800; 
  }
  
      /* mobile */
    .container {
      margin: 16px 40px;
      height: auto;
      border-radius: 20px;
      background-color: transparent;
      border: 1px solid #1C035E;
    }

    /* tablet */
@media (min-width:600px) {
    .container {
        display: flex;
        margin: 16px 60px;
        height: auto;
    }
}

/* desktop */
@media (min-width:900px) {
    .container {
        display: flex;
        margin: 16px 112px;
        height: auto;
        width: 80%;
    }
}
    
    .container:last-of-type {
      margin-bottom: 60px;
    }

    .prod-usp {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: auto;
      margin: -12px 12px;
    }
  
    @media (min-width:900px) {
    .flex-reverse {
      display: flex;
      flex-direction: row-reverse;
    }
}

    .prod-img {
      height: fit-content;
      width: fit-content;
      border-radius: 20px 0 0 20px;
    }

    .prod-img-reverse {
      height: fit-content;
      width: fit-content;
      border-radius: 0 20px 20px 0; 
    }

    


  
   /****** newsletter *********/
   #newsletter {
    color: #fff;
    background: rgba(255, 255, 255, 0.073);
    align-items: center;
  }
  
  #newsletter h3 {
   float: left;
   align-items: center;
   margin-top: 18px;
  }
  
  #newsletter form {
    float: right;
  }
  
  #newsletter input[type="email"]{
    height: 20px;
    width: 250px;
    border-radius: 4px;
    color: #140145;
    border: 0;
    font-size: 16px;
    padding: 10px;
  }

  #newletter button,  .quote button {
    dislplay: block;
    width: 100%;
  }
  
  #newsletter form input[type="email"], .quote input, .quote textarea{
   width: 320px;
   margin-top: 28px;
   margin-right: 8px;
  }

  
    .button_1{
        height: 40px;
        background: #FFB800;
        width: 90px;
        color: #140145;
        border: 0;
        border-radius: 4px;
        font-size: 16px;
      }

      .newsletter-container {
        width: 64%; 
        margin: auto;
        height: 100px;
        overflow: hidden;
      }
  



    /****** footer *********/
  footer {
    background: #140145;
    color: #fff;
    font-size: .8em;
    display: flex;
    justify-content: space-between;
    padding: 24px;

  }
  
  footer a {
    color: #FFB800;
    font-size: 1.2em;
  }

  footer a:hover {
    color: #fff;
  }
      
  footer ul {
    display: flex;
    flex-flow: row;
    }
    
    footer li {
      padding-left: 16px;
    }
  